In [3]:
# Syntax Of DataFrame
#                  pandas.DataFrame(data, index, columns, dtype, copy)

import pandas as pd 
import numpy as np


list1 = [1,2,3,4,5,6]
data = np.array(list1)
s = pd.Series(data)
bataFram = pd.DataFrame(data)

print("This is Series: \n",s,"\n\n")
print("This is DataFrame: \n",bataFram)

This is Series:
 0    1
1    2
2    3
3    4
4    5
5    6
dtype: int32


This is DataFrame:
    0
0  1
1  2
2  3
3  4
4  5
5  6

In [10]:
import pandas as pd
data = [['Pravin',98],["Lokesh",100],["Harish",100]]
df = pd.DataFrame(data,columns=("Name","Marks"))
print(df)

     Name  Marks
0  Pravin     98
1  Lokesh    100
2  Harish    100

In [12]:
import pandas as pd
data = [['Pravin',98],["Lokesh",100],["Harish",100]]
df = pd.DataFrame(data,columns=("Name","Marks"))
df = pd.DataFrame(data,index=["Student 1","Student 2","Student 3"])
print(df)

                0    1
Student 1  Pravin   98
Student 2  Lokesh  100
Student 3  Harish  100

In [25]:
import pandas as pd 

data ={
    "Name":["Harish","Lokesh","Pravin"],
    "Marks":[100,99,92],
    "Semester":[3,4,2]
}

df = pd.DataFrame(data, index = ["Student 1","Student 2","Student 3"])

print(df)

             Name  Marks  Semester
Student 1  Harish    100         3
Student 2  Lokesh     99         4
Student 3  Pravin     92         2

In [40]:
import pandas as pd 

data ={
    "Name":["Harish","Lokesh","Pravin"],
    "Marks":[100,99,92],
    "Semester":[3,4,2]
}

df = pd.DataFrame(data, index = ["Student 1","Student 2","Student 3"])

print(df.Name)    # It return Name Colume
print("It Return Value which is present Inside Name colume at position 0 : ",df.Name[0])

Student 1    Harish
Student 2    Lokesh
Student 3    Pravin
Name: Name, dtype: object
It Return Value which is present Inside Name colume at position 0 :  Harish
Name        Pravin
Marks           92
Semester         2
Name: Student 3, dtype: object

In [42]:
import pandas as pd

data =[{"Name":"Pravin","Value": 5},{"Name":"Harish", "Value":9, "Marks":99}]
df = pd.DataFrame(data,index=["First","Second"])
df1 = pd.DataFrame(data,index=["First","Second"],columns=["Name","Value","Marks","Age"])

print(df,"\n")
print(df1)

          Name  Value  Marks
First   Pravin      5    NaN
Second  Harish      9   99.0

          Name  Value  Marks  Age
First   Pravin      5    NaN  NaN
Second  Harish      9   99.0  NaN

In [50]:
import pandas as pd

d = {"One":pd.Series([1,2,3,4],index=["a","b","c","d"]),
      "Two":pd.Series([11,22,33],index=["x","y","z"])
    }
df = pd.DataFrame(d)
print(df)

print(df.loc["a"])

df1 =df.drop("x")
print(df1)

   One   Two
a  1.0   NaN
b  2.0   NaN
c  3.0   NaN
d  4.0   NaN
x  NaN  11.0
y  NaN  22.0
z  NaN  33.0
One    1.0
Two    NaN
Name: a, dtype: float64
   One   Two
a  1.0   NaN
b  2.0   NaN
c  3.0   NaN
d  4.0   NaN
y  NaN  22.0
z  NaN  33.0

In [38]:
import pandas as pd
d = {
    "one":pd.Series([1,2,3],index=[11,22,33]),
    "two":pd.Series([11,22,33],index=[10,20,30])
}

df = pd.DataFrame(d)

print("Adding a new column by passing as Series: ")
df["three"]=pd.Series([10,20,30],index=[1.1,2.2,3.3])
print(df)
df["four"]=df["one"]+df["three"]
print(df)

Adding a new column by passing as Series:
    one   two  three
10  NaN  11.0    NaN
11  1.0   NaN    NaN
20  NaN  22.0    NaN
22  2.0   NaN    NaN
30  NaN  33.0    NaN
33  3.0   NaN    NaN
    one   two  three  four
10  NaN  11.0    NaN   NaN
11  1.0   NaN    NaN   NaN
20  NaN  22.0    NaN   NaN
22  2.0   NaN    NaN   NaN
30  NaN  33.0    NaN   NaN
33  3.0   NaN    NaN   NaN